<div class="container headerbg">
    <div class="row"> 
        <div class="col-12">
            <div>
                <img class="imagesize" src="assets/images/banner.jpg">
            </div>
        </div>
        <div class="col-12"  >
            <div class="contents">
                <h4>Harini</h4>
                <h6>27, Tamil, OBC,Chennai, Tamil Nadu, India. </h6>
                <button class="yesbtn">Yes</button>
                <button class="nobtn">No</button>
            </div>
        </div>
    </div>
</div>
