<div class="home_sec">
    <div class="home_bg">
        <div class="container">
            <div class="headerbg">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
                            Daily Recommendations
                        </h2>
                    </div>
                    <div class="col-12">
                        <div class="profile_card">
                            <img class="imagesize" src="assets/images/banner.jpg"/>
                            <div class="contents">      
                                <div class="verif_sec">
                                    <ul>
                                        <li class="verifi_opt"><img src="../../../assets/images/shield.png" alt="img" /> Verified</li>
                                        <li class="prime_opt"><img src="../../../assets/images/badge.png" alt="img" /> Prime Platinum</li>
                                    </ul>
                                </div>
                                <h4>Pragati</h4>
                                <p class="card-text">27 Yrs, 5 ft 5 in. MBBS, Doctor, Poosam, Hindu - Kayastha, Chennai, Tamil Nadu. </p>
                                <div class="link_sec">                                   
                                        <span><img src="../../../assets/images/star.png" alt="img" /> Shortlist</span>
                                    <p>
                                        Like her?
                                        <button class="btn_border"><img src="../../../assets/images/close.png" alt="img" /></button>
                                        <button class="btn_bg"><img src="../../../assets/images/basic-tick.png" alt="img" /></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
